# ----------------------------------------------------------------------------------------------------------------------
# MacOS
# ----------------------------------------------------------------------------------------------------------------------
._*
.DS_Store

# ----------------------------------------------------------------------------------------------------------------------
# IDE
# ----------------------------------------------------------------------------------------------------------------------
*.swp
/.idea
/release.iml

# ----------------------------------------------------------------------------------------------------------------------
# Build
# ----------------------------------------------------------------------------------------------------------------------
/target
